.gamewrapper {
  display:block;
}

#scoreboard {
  display: flex;
  justify-content: space-between;
}

#gameboard {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 (rgba(0,0,0,0.2));
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  max-width: 580px;
}

.cell {
  width: 3.55%;
  height: 3.55%;
  background-color: antiquewhite;
  border: 1px solid rgba(0,0,0,1);
}

#startbutton {
  margin-top: 20px;
}

.pacman {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Pacman.svg/1200px-Pacman.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.clyde {
  background-image: url(https://ryanharveyauthor.files.wordpress.com/2018/09/clydeeghost.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blinky {
  background-image: url(https://www.giantbomb.com/a/uploads/scale_small/8/87790/2469740-blinky.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.inky {
  background-image: url(https://www.pngitem.com/pimgs/m/112-1122835_pacman-ghost-transparent-background-free-images-png-pacman.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pinky {
  background-image: url(https://e7.pngegg.com/pngimages/829/428/png-clipart-ms-pac-man-pac-man-adventures-in-time-pac-man-party-space-invaders-ghost-pacman-purple-super-smash-bros-for-nintendo-3ds-and-wii-u-thumbnail.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ghost {
  background-image: url(https://i.seadn.io/gae/Np4ZBJIVyijltbYcw6RbqpfzNPko221crc_rhiGTGXzb5jWOUsbWZ2iSDx05Om4CSTdVkTPgWZYX4uNJfTuSYtmqJU5yX94pqqtY-g?auto=format&w=1000);
  background-size: contain;
  background-repeat: no-repeat;
}

.scaredghost {
  background-image: url(https://www.pngitem.com/pimgs/m/98-987441_pacman-ghost-image-result-for-scared-transparent-png.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wall {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid rgba(0,0,0,1);
}

#lifeboard {
  display: flex;
  justify-content: space-between;
}