#title {
  display: flex;
  justify-content: center;
}

#p {
  max-height: 300px;
}

body {
  /* background-image: url(https://i.pinimg.com/originals/cd/d3/d0/cdd3d063efa131ca81da78e6b3ba550c.jpg); */
  background-image: url(https://sothebys-md.brightspotcdn.com/dims4/default/d6dd31c/2147483647/strip/true/crop/2000x1415+0+0/resize/2048x1449!/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fmedia-desk%2F89%2F50%2F10ea1cbd4fdb97da4c0ceb6fb6ef%2Fl22404-c8tn7-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  background-image: url(https://64.media.tumblr.com/483350e41fa79957179e511cc4cf5f58/tumblr_nwy5e7vTqX1rqxd5ko1_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nodisplay {
  display: none;
}

h1, button, p {
  font-family: 'MedievalSharp', cursive;
}

h1 {
  text-align: center;
  font-size: large;
  font-weight: 700;
  background-color: rgba(0,0,0,0.2);
  color: antiquewhite;
}

.gamewrapper {
  display:block;
}

p {
  margin: 8px 0;
}  

#scoreboard {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
  color: antiquewhite;
}

#gameboard {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 (rgba(0,0,0,0.2));
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  max-width: 580px;
}

.cell {
  width: 3.55%;
  /* height: 3.55%; */
  height: 20px;
  background-color: antiquewhite;
  /* background-color: #fff; */
  border: 1px solid rgba(0,0,0,1);
}

.starttitle {
  height: 200px;
  font-size: 150px;
  margin: 0;
}

.startbutton {
  margin-top: 250px;
  height: 20vh;
  width: 20vw;
  background-color: antiquewhite;
  border: 20px solid rgba(0,0,0,0.8);
  font-size: 20px;
}

.titleresize {
  max-height: 2px;
}

#startbutton {
  margin-top: 20px;
}

.ghostbunker {
  background-color: aqua;
}

.food {
  /* background-image: url(https://e7.pngegg.com/pngimages/216/119/png-clipart-strawberry-illustration-ms-pac-man-galaxian-super-smash-bros-for-nintendo-3ds-and-wii-u-arcade-game-pac-man-super-smash-bros-for-nintendo-3ds-and-wii-u-text.png); */
  /* background-image: url(https://www.clipartmax.com/png/middle/148-1480464_single-cherry-blossom-petal.png); */
  /* background-image: url(https://png.pngtree.com/png-clipart/20220108/ourmid/pngtree-pink-cherry-petal-illustration-png-image_4275808.png); */
  background-image: url(pictures/food.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.superfood {
  /* background-image: url(https://w7.pngwing.com/pngs/899/510/png-transparent-cherry-fruit-pac-man-woman-silhouette-love-food-heart.png); */
  background-image: url(pictures/superfood.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacman {
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Pacman.svg/1200px-Pacman.svg.png); */
  /* background-image: url(https://i.pinimg.com/474x/b5/1a/42/b51a425c8f16bb29bc21e631d0e4cc43.jpg); */
  /* background-image: url(https://cdn.superstock.com/263/Comp/263-519.jpg); */
  background-image: url(pictures/pacman_knight.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.clyde {
  /* background-image: url(https://ryanharveyauthor.files.wordpress.com/2018/09/clydeeghost.png); */
  background-image: url(pictures/clyde_snail.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blinky {
  /* background-image: url(https://www.giantbomb.com/a/uploads/scale_small/8/87790/2469740-blinky.png); */
  /* background-image: url(https://i.pinimg.com/originals/20/8d/44/208d447a10963f7f3f8db885ccbb34e1.jpg); */
  background-image: url(pictures/blinky_medieval.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.inky {
  /* background-image: url(https://www.pngitem.com/pimgs/m/112-1122835_pacman-ghost-transparent-background-free-images-png-pacman.png); */
  background-image: url(pictures/inky_medieval.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pinky {
  /* background-image: url(https://e7.pngegg.com/pngimages/829/428/png-clipart-ms-pac-man-pac-man-adventures-in-time-pac-man-party-space-invaders-ghost-pacman-purple-super-smash-bros-for-nintendo-3ds-and-wii-u-thumbnail.png);  */
  /* background-image: url(https://spng.pngfind.com/pngs/s/692-6922769_pacman-pac-man-pac-man-pacman-pac-man.png); */
  /* background-image: url(https://www.vhv.rs/dpng/d/503-5036105_pink-pac-man-ghost-hd-png-download.png); */
  background-image: url(pictures/pinky_medieval.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ghost {
  background-image: url(https://i.seadn.io/gae/Np4ZBJIVyijltbYcw6RbqpfzNPko221crc_rhiGTGXzb5jWOUsbWZ2iSDx05Om4CSTdVkTPgWZYX4uNJfTuSYtmqJU5yX94pqqtY-g?auto=format&w=1000);
  background-size: contain;
  background-repeat: no-repeat;
}

.scaredghost {
  /* background-image: url(https://www.pngitem.com/pimgs/m/98-987441_pacman-ghost-image-result-for-scared-transparent-png.png); */
  background-image: url(pictures/scared_medieval_ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wall {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid rgba(0,0,0,1);
}

#lifeboard {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
  color: antiquewhite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-duration: 0.2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.pulsetwo {
  -webkit-animation-name: pulse;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}