#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p, #sirpac {
  max-height: 200px;
}

body {
  background-image: url(https://sothebys-md.brightspotcdn.com/dims4/default/d6dd31c/2147483647/strip/true/crop/2000x1415+0+0/resize/2048x1449!/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fmedia-desk%2F89%2F50%2F10ea1cbd4fdb97da4c0ceb6fb6ef%2Fl22404-c8tn7-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  background-image: url(https://64.media.tumblr.com/483350e41fa79957179e511cc4cf5f58/tumblr_nwy5e7vTqX1rqxd5ko1_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nodisplay {
  display: none;
}

h1, button, p {
  font-family: 'MedievalSharp', cursive;
}

h1 {
  text-align: center;
  font-size: large;
  font-weight: 700;
  color: antiquewhite;
}

.gamewrapper {
  display:block;
}

p {
  margin: 8px 0;
  font-size: large;
}  

#scoreboard {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
  color: antiquewhite;
}

#gameboard {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 (rgba(0,0,0,0.2));
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  max-width: 580px;
}

.cell {
  width: 3.55%;
  /* height: 3.55%; */
  height: 20px;
  background-color: rgba(250, 235, 215, 0.8);
  border: 1px solid rgba(0,0,0,1);
}

.pacmancell {
  background-color: rgba(240, 207, 151, 0.8);
}

.starttitle {
  height: 200px;
  font-size: 150px;
  margin: 0;
}

.button {
  background-color: antiquewhite;
}

.startbutton {
  margin-top: 250px;
  height: 50vh;
  width: 50vw;
  border: 10px solid rgba(0,0,0,0.8);
  font-size: 20px;
}

.titleresize {
  max-height: 2px;
}

#startbutton {
  margin-top: 20px;
}

.ghostbunker {
  background-color: aqua;
}

.food {
  background-image: url(pictures/food.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.superfood {
  background-image: url(pictures/superfood.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pacman {
  background-image: url(pictures/pacman_knight.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.clyde {
  background-image: url(pictures/clyde_snail.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blinky {
  background-image: url(pictures/blinky_medieval.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.inky {
  background-image: url(pictures/inky_medieval.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pinky {
  background-image: url(pictures/pinky_medieval.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.scaredghost {
  background-image: url(pictures/scared_medieval_ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wall {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid rgba(0,0,0,1);
}

#lifeboard {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.2);
  color: antiquewhite;
}

#lives, #score {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hearticon, #pointsicon {
  max-height: 35px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-duration: 0.2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.pulsetwo {
  -webkit-animation-name: pulse;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}